{% extends 'home' %}

          {% block joinbutton %}
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/paypal">{{ antl.formatMessage('home.join.paypal') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/ksa">{{ antl.formatMessage('home.join.ksa') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/jo">{{ antl.formatMessage('home.join.jordan') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/gcc">{{ antl.formatMessage('home.join.gcc') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          {% endblock %}
