<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Farad &#8211; Revolutionising The Future Of Innovation 2017</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="mhi@virtue.finance">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- Favicone Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="apple-touch-icon" href="img/favicon.png">

  <!-- CSS -->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
  <link href="css/plugin/sidebar-menu.css" rel="stylesheet" type="text/css" />
  <link href="css/plugin/animate.css" rel="stylesheet" type="text/css" />
  <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- Preloader -->
  <section id="preloader">
  <div class="loader" id="loader">
    <div class="loader-img"></div>
  </div>
  </section>
  <!-- End Preloader -->

  <!-- Search Overlay Menu -->
  <div class="search-overlay-menu">
  <span class="search-overlay-close"><i class="ion ion-ios-close-empty"></i></span>
  <form role="search" id="searchform" action="http://theme.nileforest.com/search" method="get">
    <input value="" name="q" type="search" placeholder="Search..." />
    <button type="submit"><i class="ion ion-ios-search"></i></button>
  </form>
  </div>
  <!-- End Search Overlay Menu -->

  <!-- Sidemenu -->
  <section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
  <a id="menu-sidebar-close-icon" class="menu-close"><i class="ion ion-android-close"></i></a>
  <h5 class="white">Sign In</h5>
  <div class="sign-in">
    <input class="input-sm form-full" type="email" aria-required="true" id="email" name="email" placeholder="Email" value="" />
    <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
    <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
    <a>New Customer?</a>
  </div>
  <ul>
    <li><a class="all-demos-link" target="_blank" href="http://theme.nileforest.com/html/mazel-v1.5/demo.html">Main Demo Page</a></li>
    <li><a href="home.html">Home</a></li>
    <li><a href="portfolio-grid-2col.html">Documentations</a></li>
    <li><a href="login-register.html">Media</a></li>
    <li><a href="login-register.html">Farad UCC</a></li>
    <li><a href="faq-1.html">FAQ</a></li>
  </ul>
  </section>
  <!--End Sidemenu -->

  <!-- Site Wraper -->
  <div class="wrapper">

  <!-- Header -->
  <header id="header" class="header">
    <div class="container header-inner">

    <!-- Logo -->
    <div class="logo">
      <a href="/">
      <img class="logo-light" src="img/logo-farad-white.png" alt="Farad" />
      <img class="logo-dark" src="img/logo-farad-white.png" alt="Farad" />
      </a>
    </div>
    <!-- End Logo -->

    <!-- Rightside Menu (Search, Cart, Bart icon) -->
    <div class="side-menu-btn">
      <ul>
      <!-- Search Icon -->
      <li class="">
        <a class="search-overlay-menu-btn header-icon"><i class="fa fa-search"></i></a>
      </li>
      <!-- End Search Icon -->

      <!--Sidebar Menu Icon
      <li class="">
        <a id="menu-sidebar-list-icon" class="nav-bar-icon"><span></span></a>
      </li>
      End Sidebar Menu Icon-->
      </ul>
    </div>
    <!-- End Rightside Menu -->

    <!-- Mobile Navbar Icon -->
    <div class="nav-mobile nav-bar-icon">
      <span></span>
    </div>
    <!-- End Mobile Navbar Icon -->

    <!-- Navbar Navigation -->
    <div class="nav-menu">
      <ul class="nav-menu-inner">
      <li>
        <a class="menu-has-sub" href="/">{{ antl.formatMessage('messages.menu.home') }} </a>
      </li>
      <li>
        <a class="menu-has-sub">{{ antl.formatMessage('messages.menu.docs') }} <i class="fa fa-angle-down"></i></a>
        <!-- Dropdown -->
        <ul class="sub-dropdown dropdown">
        <li>
          <a class="menu-has-sub" href="{{ antl.formatMessage('messages.wp.link') }}">{{ antl.formatMessage('messages.menu.docs.wp') }}</a>
        </li>
        <li>
          <a class="menu-has-sub" href="{{ antl.formatMessage('messages.overview.link') }}">{{ antl.formatMessage('messages.menu.docs.overview') }}</a>
        </li>
        </ul>
        <!-- End Dropdown -->
      </li>
      <li>
        <a class="menu-has-sub" href="/">{{ antl.formatMessage('messages.menu.media') }} </a>
      </li>            
      <li>
        <a class="menu-has-sub" href="/">{{ antl.formatMessage('messages.menu.faq') }} </a>
      </li>            
      </ul>
    </div>
    <!-- End Navbar Navigation -->

    </div>
  </header>
  <!-- End Header -->

  <!-- CONTENT -->

  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
    <!-- Canvas Pattern -->
    <canvas id="pollyfill-canvas"></canvas>
    <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
    <div class="js-fullscreen-height intro-caption-top container">
      <div class="intro-content">
      <div class="intro-content-inner">
        <h5>{{ antl.formatMessage('messages.title') }}</h5>
        <br>
        <h1 class="h1 red">
        {{ antl.formatMessage('messages.heading.1') }}<br><br>
        {{ antl.formatMessage('messages.heading.2') }}
        </h1>
        <br>
        <h4>
        {{ antl.formatMessage('messages.action.warn.2') }}<br>
        {{ antl.formatMessage('messages.action.select') }}
        </h4>              
        <br>
        <div>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.uk') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.ksa') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.jordan') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.gcc') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        </div>
        <br>
        <div>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.china') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.korea') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.japan') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        </div>
        <br>
        <div>
        <a class="btn btn-md btn-white-line">{{ antl.formatMessage('messages.join.row') }}</a>
        <span class="btn-space-10 xs-hidden"></span>
        </div>
      </div>
      </div>
    </div>
    </div>
    <!-- End Caption Section -->


  </section>
  <!-- End Intro Section -->

  <div class="clearfix"></div>

  <!-- News Slider -->
  <section class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/bgroundpoly.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <h1 class="text-center">{{ antl.formatMessage('messages.news.title') }}</h1>
      <div class="spacer-60"></div>
      <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('messages.news.one') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('messages.news.one.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('messages.news.one.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('messages.news.one.title') }}</span></h6>
          </div>
        </div>
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('messages.news.two') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('messages.news.two.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('messages.news.two.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('messages.news.two.title') }}</span></h6>
          </div>
        </div>
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('messages.news.three') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('messages.news.three.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('messages.news.three.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('messages.news.three.title') }}</span></h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End News Slider -->
  
  <!-- FARAD Intro Section -->
  <section id="intro" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row">
      <div class="ptb ptb-sm-80 ptb-80 mx-auto text-center">
        <img src="img/farad-symbol.png" alt="FARAD">
      </div>
      <div class="ptb ptb-sm-80 ptb-80">
        <div class="text-center">
          <h1 class="h1 red">{{ antl.formatMessage('messages.intro.title.1') }}</h1><br><br>
          <h1 class="h1 red">{{ antl.formatMessage('messages.intro.title.2') }}</h1>
        </div>  
        <br>
        <h4 class="mb-0">{{ antl.formatMessage('messages.intro.text') }}</h4>
      </div>
      <div class="ptb ptb-sm-80 mx-auto text-center">
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('messages.wp.link') }}">{{ antl.formatMessage('messages.menu.docs.wp') }}</a>
        <span class="btn-space-10 float-right xs-hidden"></span>
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('messages.overview.link') }}">{{ antl.formatMessage('messages.menu.docs.overview') }}</a>
      </div>
    </div>
    </div>
  </section>
  <!-- End FARAD Intro Section -->


  <!-- Launch Section -->
  <section id="launch" class="dark-bg fadeIn ptb ptb-sm-80">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h1 class="h1 red">{{ antl.formatMessage('messages.launch.title.1') }}</h1><br><br>
        <h1 class="h1 red">{{ antl.formatMessage('messages.launch.title.2') }}</h1>
      </div>      
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.pre.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.pre.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.vol') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.vol.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.issue.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.dist') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.dist.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.offer.pre') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.offer.pre.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.offer.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.offer.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.website') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.website.url') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('messages.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('messages.launch.issue.text') }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Launch Section-->

  <!--Timeline Section-->
  <section id="about" class="overlay-dark80 wow dark-bg fadeIn ptb ptb-sm-80" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2">
          <h1 class="h1 red">{{ antl.formatMessage('messages.timeline.status') }}</h1>
          <div class="spacer-15"></div>
        </div>
      </div>
      <div class="row mt-80">
        <!-- Status -->
        <div class="col-md-6 mb-30">
          <h2 class="h1 red">{{ antl.formatMessage('messages.timeline.frd.title') }}</h2>

          <!-- FRD Updates -->
          <div class="red-bar">
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.frd.m1.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.frd.m1') }} <br> 
                {{ antl.formatMessage('messages.timeline.frd.m1.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.frd.m1.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.frd.m2.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.frd.m2') }} <br> 
                {{ antl.formatMessage('messages.timeline.frd.m2.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.frd.m2.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.frd.m3.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.frd.m3') }} <br> 
                {{ antl.formatMessage('messages.timeline.frd.m3.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.frd.m3.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.frd.m4.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.frd.m4') }} <br> 
                {{ antl.formatMessage('messages.timeline.frd.m4.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.frd.m4.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>

        <!-- UCC Updates -->
        <div class="col-md-6 mb-30">
          <h2 class="h1 red">{{ antl.formatMessage('messages.timeline.ucc.title') }}</h2>
          <div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.ucc.m1.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.ucc.m1') }} <br>
                {{ antl.formatMessage('messages.timeline.ucc.m1.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.ucc.m1.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.ucc.m2.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.ucc.m2') }} <br> 
                {{ antl.formatMessage('messages.timeline.ucc.m2.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.ucc.m2.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('messages.timeline.ucc.m3.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('messages.timeline.ucc.m3') }} <br> 
                {{ antl.formatMessage('messages.timeline.ucc.m3.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('messages.timeline.ucc.m3.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>
        <!-- End Status -->
      </div>
    </div>
  </section>
  <!-- End Timeline Section-->

  <!-- Team Section -->
  <section id="team" class="dark-bg ptb-60">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h1 class="h1 red">{{ antl.formatMessage('messages.team.title.1') }}</h1><br><br>
        <h1 class="h1 red">{{ antl.formatMessage('messages.team.title.2') }}</h1>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.1.img') }}" alt="{{ antl.formatMessage('messages.team.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.1.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.2.img') }}" alt="{{ antl.formatMessage('messages.team.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.2.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.3.img') }}" alt="{{ antl.formatMessage('messages.team.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.3.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.4.img') }}" alt="{{ antl.formatMessage('messages.team.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.4.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.4.cv') }}
          </p>
        </div>
      </div>
      <div class="row mt-80">
        {# <div class="col-md-1"></div> #}
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.5.img') }}" alt="{{ antl.formatMessage('messages.team.5.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.5.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.5.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.5.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.6.img') }}" alt="{{ antl.formatMessage('messages.team.6.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.6.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.6.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.6.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.7.img') }}" alt="{{ antl.formatMessage('messages.team.7.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.7.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.7.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.7.cv') }}
          </p>
        </div>
      </div>
      <div class="row mt-80">
        <div class="col-md-4 offset-md-2 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.8.img') }}" alt="{{ antl.formatMessage('messages.team.8.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.8.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.8.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.8.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.team.9.img') }}" alt="{{ antl.formatMessage('messages.team.9.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.team.9.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.team.9.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.team.9.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- Board Section -->
  <section id="board" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h1 class="h1 red">{{ antl.formatMessage('messages.board.title.1') }}</h1><br><br>
        <h1 class="h1 red">{{ antl.formatMessage('messages.board.title.2') }}</h1>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.board.1.img') }}" alt="{{ antl.formatMessage('messages.board.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.board.1.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.board.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.board.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.board.2.img') }}" alt="{{ antl.formatMessage('messages.board.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.board.2.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.board.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.board.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.board.3.img') }}" alt="{{ antl.formatMessage('messages.board.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.board.3.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.board.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.board.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('messages.board.4.img') }}" alt="{{ antl.formatMessage('messages.board.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('messages.board.4.name') }}</h5>
          <strong>{{ antl.formatMessage('messages.board.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('messages.board.4.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Board Section -->

  <!-- END CONTENT -->

  <!-- FOOTER -->
  <footer class="footer pt-80">
    <div class="container">
      <div class="row mb-60">
        <!-- Logo -->
        <div class="col-md-3 col-sm-3 mb-xs-30">
          <a class="footer-logo" href="/">
            <img src="img/logo-farad.png" />
          </a>
        </div>
        <!-- Logo -->

        <!-- Newsletter -->
        <div class="col-md-4 col-sm-5 mb-xs-30 text-center">
          <p>
            &copy; 2017. All rights reserved.
          </p>
        <!--div class="newsletter">
          <form>
          <input type="email" class="newsletter-input input-md newsletter-input mb-0" placeholder="Enter Your Email">
          <button class="newsletter-btn btn btn-xs btn-white" type="submit" value=""><i class="fa fa-angle-right mr-0"></i></button>
          </form>
        </div-->
        </div>
        <!-- End Newsletter -->

        <!-- Social -->
        <div class="col-md-3 offset-md-2 col-sm-4">
        <ul class="social">
          <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
          <li><a target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li>
        </ul>
        </div>
        <!-- End Social -->
      </div>
    </div>
    <hr>

  </footer>
  <!-- END FOOTER -->

  <!-- Scroll Top -->
  <a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
  </a>
  <!-- End Scroll Top -->

  </div>
  <!-- Site Wraper End -->


  <!-- JS -->

  <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>

  <script src="js/plugin/jquery.easing.js" type="text/javascript"></script>
  <script src="js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.flexslider.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.fitvids.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
  <script src="js/plugin/wow.min.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
  <script src="js/plugin/owl.carousel.min.js" type="text/javascript"></script>
  <script src="js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
  <script src="js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
  <script src="js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
  <script src="js/plugin/sidebar-menu.js" type="text/javascript"></script>
  <script src="js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
  <script src="js/plugin/mediaelement-and-player.min.js"></script>
  <script src="js/theme.js" type="text/javascript"></script>
  <script src="js/navigation.js" type="text/javascript"></script>
  <script src="js/plugin/TweenLite.min.js" type="text/javascript"></script>
  <script src="js/plugin/EasePack.min.js" type="text/javascript"></script>
  <script src="js/plugin/pollyfill.js" type="text/javascript"></script>
</body>
</html>
