{% extends 'canvas' %}

<!-- CONTENT -->  
{% block content %}
  
  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
      <!-- Canvas Pattern -->
      <canvas id="pollyfill-canvas"></canvas>
      <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
    <div class="js-fullscreen-height intro-caption-top container">
      <div class="intro-content">
        <div class="intro-content-inner">
          <h1 class="h1 red">{{ antl.formatMessage('contrib.title.1') }}</h1>
          <br>
          <h1 class="h1 red">{{ antl.formatMessage('contrib.title.2') }}</h1>
          <br>
        </div>
      </div>
    </div>
  </section>

  <!-- Contrib Page -->
  <section id="contrib" class="dark-bg fadeIn ptb ptb-sm-80">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h1 class="h1 red">{{ antl.formatMessage('contrib.warn.1') }}</h1>
        <h1 class="h1 red">{{ antl.formatMessage('contrib.warn.2') }}</h1>
      </div>
    </div>
  </section>



{% endblock %}
<!-- END CONTENT -->
