{% extends 'canvas' %}

{% block head %}
{% endblock %}

{% block script %}
  <script src="js/wow.min.js" type="text/javascript"></script>
  <script src="js/jquery.countdown.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {

      new WOW().init();
      /*
          Countdown initializer
      */
      var now = new Date();
      var countTo = new Date(2017,8,30,23,59,59); //25 * 24 * 60 * 60 * 1000 + now.valueOf();    
      $('.timer').countdown(countTo, function(event) {
        console.log('event:' + event);

        $(this).find('.days').text(event.offset.totalDays);
        $(this).find('.hours').text(event.offset.hours);
        $(this).find('.minutes').text(event.offset.minutes);
        $(this).find('.seconds').text(event.offset.seconds);
      });

    });

  </script>
{% endblock %}

<!-- CONTENT -->  
{% block content %}

  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
      <!-- Canvas Pattern -->
      <canvas id="pollyfill-canvas"></canvas>
      <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
      <div class="js-fullscreen-height intro-caption-top container">
        <div class="intro-content">
          <div class="intro-content-inner ptb ptb-80">
            <h2 class="big-title">{{ antl.formatMessage('home.title') }}</h2>
            <br>
            <h2 class="h2 red">
              {{ antl.formatMessage('home.heading.1') }}{{ antl.formatMessage('home.heading.2') }}
            </h2>
            <br>
            <div class="container">
              <h3>{{ antl.formatMessage('home.action.rem') }}</h3>
            </div>
            <div id="icotimer">
              <div class="timer wow fadeInUp">
                <div class="days-wrapper">
                  <span class="days">00</span> <br>days
                </div> 
                <span class="slash">/</span> 
                <div class="hours-wrapper">
                  <span class="hours">00</span> <br>hours
                </div> 
                <span class="slash">/</span> 
                <div class="minutes-wrapper">
                  <span class="minutes">00</span> <br>min
                </div> 
                <span class="slash">/</span> 
                <div class="seconds-wrapper">
                  <span class="seconds">00</span> <br>sec
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container">
      <div>
        <div class="text-center">
          <p class="text-center">
            <!-- <h4>{{ antl.formatMessage('home.action.warn.2') }}</h4> -->
            <h4>{{ antl.formatMessage('home.action.select') }}</h4>              
          </p>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/paypal">{{ antl.formatMessage('home.join.paypal') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/uk">{{ antl.formatMessage('home.join.uk') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/ksa">{{ antl.formatMessage('home.join.ksa') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/jo">{{ antl.formatMessage('home.join.jordan') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/gcc">{{ antl.formatMessage('home.join.gcc') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/cn">{{ antl.formatMessage('home.join.china') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/kr">{{ antl.formatMessage('home.join.korea') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/jp">{{ antl.formatMessage('home.join.japan') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/row">{{ antl.formatMessage('home.join.row') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Caption Section -->


  </section>
  <!-- End Intro Section -->

  <div class="clearfix"></div>

  <!-- News Slider -->
  <section class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/bgroundpoly.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <h2 class="text-center">{{ antl.formatMessage('home.news.title') }}</h2>
      <div class="spacer-60"></div>
      <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('home.news.one') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('home.news.one.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('home.news.one.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('home.news.one.title') }}</span></h6>
          </div>
        </div>
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('home.news.two') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('home.news.two.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('home.news.two.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('home.news.two.title') }}</span></h6>
          </div>
        </div>
        <div class="item">
          <div class="testimonial text-center dark-color">
            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
            <p class="lead">
              {{ antl.formatMessage('home.news.three') }}
            </p>
            <p>
              <a class="btn btn-md btn-white-line" href="{{ antl.formatMessage('home.news.three.link') }}">More...</a>
            </p>
            <br>
            <h6 class="quote-author">{{ antl.formatMessage('home.news.three.from') }} <span style="font-weight: 400;">{{ antl.formatMessage('home.news.three.title') }}</span></h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End News Slider -->
  
  <!-- FARAD Intro Section -->
  <section id="intro" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row">
      <div class="ptb ptb-sm-80 ptb-80 mx-auto text-center">
        <img src="img/farad-symbol.png" alt="FARAD">
      </div>
      <div class="container">
        <div class="mx-auto text-center">
          <h2 class="h2 red">
            {{ antl.formatMessage('home.intro.title.1') }}<br>
            {{ antl.formatMessage('home.intro.title.2') }}
          </h2>
        </div>  
      </div>
      <div class="container">
        <div class="col-md-8 offset-md-2 text-center">
          <p class="p10">{{ antl.formatMessage('home.intro.text') }}</p>
        </div>        
      </div>
      <div class="ptb ptb-sm-80 mx-auto text-center">
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('home.wp.link') }}">{{ antl.formatMessage('menu.docs.wp') }}</a>
        <span class="btn-space-10 float-right"></span>
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('home.overview.link') }}">{{ antl.formatMessage('menu.docs.overview') }}</a>
      </div>
    </div>
    </div>
  </section>
  <!-- End FARAD Intro Section -->


  <!-- Launch Section -->
  <section id="launch" class="dark-bg fadeIn ptb ptb-sm-80">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.launch.title.1') }}<br>
          {{ antl.formatMessage('home.launch.title.2') }}
        </h2>
      </div>      
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.pre.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.pre.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.vol') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.vol.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.issue.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.dist') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.dist.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.offer.pre') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.offer.pre.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.offer.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.offer.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.website') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.website.url') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.issue.text') }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Launch Section-->

  <!--Timeline Section-->
  <section id="about" class="overlay-dark80 wow dark-bg fadeIn ptb ptb-sm-80" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.status') }}</h2>
          <div class="spacer-15"></div>
        </div>
      </div>
      <div class="row mt-80">
        <!-- Status -->
        <div class="col-md-6 mb-30">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.frd.title') }}</h2>

          <!-- FRD Updates -->
          <div class="red-bar">
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.frd.m1.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m1') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m1.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.frd.m1.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.frd.m2.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m2') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m2.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.frd.m2.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.frd.m3.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m3') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m3.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.frd.m3.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.frd.m4.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m4') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m4.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.frd.m4.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>

        <!-- UCC Updates -->
        <div class="col-md-6 mb-30">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.ucc.title') }}</h2>
          <div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.ucc.m1.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m1') }} <br>
                {{ antl.formatMessage('home.timeline.ucc.m1.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.ucc.m1.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.ucc.m2.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m2') }} <br> 
                {{ antl.formatMessage('home.timeline.ucc.m2.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.ucc.m2.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="{{ antl.formatMessage('home.timeline.ucc.m3.status') }}">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m3') }} <br> 
                {{ antl.formatMessage('home.timeline.ucc.m3.text') }}
              </div>
              <div class="skill-bar-percent">{{ antl.formatMessage('home.timeline.ucc.m3.status') }}</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>
        <!-- End Status -->
      </div>
    </div>
  </section>
  <!-- End Timeline Section-->

  <!-- Team Section -->
  <section id="team" class="dark-bg ptb-60">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.team.title.1') }}<br>
          {{ antl.formatMessage('home.team.title.2') }}
        </h2>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.1.img') }}" alt="{{ antl.formatMessage('home.team.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.1.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.2.img') }}" alt="{{ antl.formatMessage('home.team.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.2.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.3.img') }}" alt="{{ antl.formatMessage('home.team.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.3.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.4.img') }}" alt="{{ antl.formatMessage('home.team.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.4.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.4.cv') }}
          </p>
        </div>
      </div>
      <!--div class="row mt-80">
        {# <div class="col-md-1"></div> #}
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.5.img') }}" alt="{{ antl.formatMessage('home.team.5.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.5.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.5.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.5.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.6.img') }}" alt="{{ antl.formatMessage('home.team.6.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.6.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.6.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.6.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.7.img') }}" alt="{{ antl.formatMessage('home.team.7.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.7.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.7.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.7.cv') }}
          </p>
        </div>
      </div-->
      <div class="row mt-80">
        <div class="col-md-4 offset-md-2 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.8.img') }}" alt="{{ antl.formatMessage('home.team.8.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.8.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.8.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.8.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.9.img') }}" alt="{{ antl.formatMessage('home.team.9.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.9.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.9.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.9.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- Board Section -->
  <section id="board" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.board.title.1') }}<br>
          {{ antl.formatMessage('home.board.title.2') }}
        </h2>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.1.img') }}" alt="{{ antl.formatMessage('home.board.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.1.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.2.img') }}" alt="{{ antl.formatMessage('home.board.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.2.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.3.img') }}" alt="{{ antl.formatMessage('home.board.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.3.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.4.img') }}" alt="{{ antl.formatMessage('home.board.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.4.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.4.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Board Section -->

{% endblock %}
<!-- END CONTENT -->
