{% extends 'canvas' %}

{% block head %}
{% endblock %}

{% block script %}
 

   <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>


<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>




  <script src="js/wow.min.js" type="text/javascript"></script>
  <script src="js/jquery.countdown.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {

      new WOW().init();
      /*
          Countdown initializer
      */
      var now = new Date();
      var countTo = new Date('2017-10-31T23:59:59Z');

      $('.timer').countdown(countTo, function(event) {
        //console.log('event:' + event);

        $(this).find('.days').text(event.offset.totalDays);
        $(this).find('.hours').text(event.offset.hours);
        $(this).find('.minutes').text(event.offset.minutes);
        $(this).find('.seconds').text(event.offset.seconds);
      });

    });


  </script>


 
{% endblock %}



<!-- CONTENT -->  
{% block content %}

  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1">
      <!-- Canvas Pattern -->
      <canvas id="pollyfill-canvas"></canvas>
      <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
      <div class="js-fullscreen-height intro-caption-top container">

      
        <div class="intro-content">
          <div class="intro-content-inner ptb ptb-80">
  
            <h2 class="big-title">{{ antl.formatMessage('home.title') }} </h2>
            <br>

            <h2 class="h2 red">
              {{ antl.formatMessage('home.heading.1') }}{{ antl.formatMessage('home.heading.2') }}
            </h2>
            <br>

            <div class="row">
            <div class="col-sm-3">
            <div class="container ">
              <h4>{{ antl.formatMessage('home.action.rem') }}</h4><hr>
            </div>

            <br>
            <div id="icotimer">
              <div class="timer wow fadeInUp">
                <table border=0 align=center>
                <tr><td> <span class="days text-xs-right">00</span>days</td></tr>
                <tr><td><span class="hours">00</span>hours</td></tr>
                <tr><td><span class="minutes">00</span>min </td></tr>
                <tr><td><span class="seconds">00</span>sec</td></tr>
                  <tr><td><br></td></tr>
              </table>
              </div>
            </div>

 

          </div>
        <div class="col-sm-5">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span><img class="d-block " src="carousel/1.png" alt="First slide"></span>
    </div>
    <div class="carousel-item">
      <span><img class="d-block" src="carousel/2.png" alt="Second slide"></span>
    </div>
    <div class="carousel-item">
      <span><img class="d-block " src="carousel/3.jpg" alt="Third slide"></span>
    </div>
    <div class="carousel-item">
      <span><img class="d-block " src="carousel/4.jpg" alt="Third slide"></span>
    </div>
    <div class="carousel-item">
      <span><img class="d-block " src="carousel/6.jpg" alt="Third slide"></span>
    </div>
  </div>
</div>
        </div>
<br>


          
 


 <style>

#container{
    position: relative;
    width: 100%;
    height: 600px;
    overflow:scroll;

    
}
#main_image{
    left:50%;
    width: 100%;
    height: 100%;
    background-color:#222222;
    opacity:0.5;
    overflow:scroll;

 
}
#image1{
    position: absolute;
    width: 200px;
    height: 75px;
    background: none;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    horizontal-align: middle;
}

.CountDown
{
  font-style: normal;
  font-family: Verdana;
  line-height: 90%;

}

/*
.Newsdropdown {
    position: relative;
    display: inline-block;

}

.Newsdropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    color:white;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border-style: solid;
    border-color: #999999;
    border-width: 2px;
    line-height:100%;
}

.Newsdropdown-content a {
    color: silver;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.Newsdropdown-content a:hover {
  background-color: silver;
  color: black;
  border-radius:10px;
 }

.Newsdropdown:hover .Newsdropdown-content {
    display: block;
}

.Newsdropdown:hover .Newsdropbtn {
    background-color: #3e8e41;
}
*/

</style>

 <!-- News Section -->
<div class="col-sm-4">
<h4>  {{ antl.formatMessage('press.news.title') }}<br></h4>
 {{ antl.formatMessage('press.news.text') }}
<hr>
<div id="container" >
    <div id="main_image"></div>

    <div id="image1" style="top:0px;left:0px; width:160px">
      <a href="http://jakartaglobe.id/business/farad-cryptoken-program-seeks-indonesian-investment-in-blockchain-technology/" target="_blank" ><img src="/img/logo/1.JakartaGlobe.png"/></a>
      
    </div>

    <div id="image1"  class="Newsdropdown"  style="top:40px;left:0px; width:160px">
      <a href="https://www.cnnindonesia.com/tv/20170828171148-402-237875/farad-cryptoken-pesaing-baru-bitcoin/" target="_blank" ><img src="/img/logo/3.CNNIndo.png"/></a>
    </div>


    <div id="image1"  class="Newsdropdown"  style="top:80px;left:0px; width:160px">
      <a href="http://wakuwaku-currency.com/2017/08/27/farad-cryptoken%E3%81%AF%E3%80%81pre-ico%E3%81%AE%E3%82%B9%E3%83%AF%E3%83%83%E3%83%97%E3%82%92%E7%99%BA%E8%A1%A8/" target="_blank" ><img src="/img/logo/11.Waku2Currency.png"/></a>
    </div>


        <div id="image1"  class="Newsdropdown"  style="top:120px;left:0px; width:160px">
      <a href="http://www.newsbtc.com/2017/08/26/farad-cryptoken-announces-pre-ico-token-swap/" target="_blank" ><img src="/img/logo/16.NewsBTC.png"/></a>
    </div>

        <div id="image1"  class="Newsdropdown"  style=" top:160px;left:0px; width:160px">
      <a href="https://thebitcoinnews.com/farad-cryptoken-announces-pre-ico-token-swap/" target="_blank" ><img src="/img/logo/20.TheBitcoinNews.png"/></a>
    </div>


        <div id="image1"  class="Newsdropdown"  style=" top:200px;left:0px; width:160px">
      <a href="https://steemit.com/bitcoin/@complapgeek/crytp-lover-3-farad-cryptoken" target="_blank" ><img src="/img/logo/19.Steemit.png"/></a>
    </div>


        <div id="image1"  class="Newsdropdown"  style=" top:240px;left:0px; width:160px">
      <a href="https://coinpang.com/news/5427" target="_blank" ><img src="/img/logo/13.CoinPang.png"/></a>
    </div>


        <div id="image1"  class="Newsdropdown"  style=" top:280px;left:0px; width:160px">
      <a href="https://bitcoinexchangeguide.com/farad/" target="_blank" ><img src="/img/logo/12.BitcoinXchangeGuide.png"/> </a>
    </div>

        <div id="image1"  class="Newsdropdown"  style=" top:0px;left:170px; width:160px">
      <a href="https://cointelegraph.com/press-releases/farad-cryptoken-announces-pre-ico-token-swap" target="_blank" ><img src="/img/logo/6.CoinTelegraph.png"/></a>
   </div>

        <div id="image1"  class="Newsdropdown"  style=" top:40px;left:170px; width:160px">
       <a href="https://cryptojournal.ru/%D0%B2-%D0%BE%D0%B0%D1%8D-%D0%B7%D0%B0%D0%BF%D1%83%D1%81%D0%BA%D0%B0%D1%8E%D1%82-ico-%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D1%8B-farad-%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9-%D1%91%D0%BC%D0%BA%D0%BE%D1%81%D1%82%D1%8C%D1%8E-%D1%81%D1%83%D0%BF%D0%B5%D1%80%D0%BA%D0%BE%D0%BD%D0%B4%D0%B5%D0%BD%D1%81%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2-2f36319fc00d" target="_blank" ><img src="/img/logo/7.CryptoJournalRu.png"/></a>
     </div>

        <div id="image1"  class="Newsdropdown"  style=" top:80px;left:170px; width:160px">

      <a href="https://themerkle.com/launch-of-farad-cryptoken-first-cryptocurrency-with-actual-economic-value/" target="_blank" ><img src="/img/logo/15.TheMerkle.png"/></a>

    </div>

            <div id="image1"  class="Newsdropdown"  style=" top:120px;left:170px; width:160px">
      <a href="https://cryptorussia.ru/news/7-avgusta-mezhdunarodnyy-finansovyy-centr-dubaya-obnarodoval-novost-o-zapuske-novoy" target="_blank" ><img src="/img/logo/8.CryptoRussiaRu.png"/></a>
      </div>
 
     <div id="image1"  class="Newsdropdown"  style=" top:160px;left:170px; width:160px">
       <a href="https://www.applancer.co/blog/15-insights-on-farad-ico" target="_blank" ><img src="/img/logo/4.applancer.png"/>
    </div>

     <div id="image1"  class="Newsdropdown"  style=" top:200px;left:170px; width:160px">
      <a href="http://www.islamicfinance.de/?q=node/10485" target="_blank" ><img src="/img/logo/10.IslamicFinanceDe.png"/></a>
      </div>

     <div id="image1"  class="Newsdropdown"  style=" top:240px;left:170px; width:160px">
      <a href="http://gulfnews.com/business/economy/new-cryptocurrency-launches-in-dubai-backed-by-real-economic-activity-1.2070453" target="_blank" > <img src="/img/logo/14.GulfNews.png"/></a>
    </div>


     <div id="image1"  class="Newsdropdown"  style=" top:280px;left:170px; width:160px">
      <a href="http://www.zawya.com/mena/en/story/New_cryptocurrency_launched_in_Dubai_backed_by_real_economic_activity-GN_07082017_080846/" target="_blank" ><img src="/img/logo/21.Zawya.png"/></a>
      </div>

     <div id="image1"  class="Newsdropdown"  style=" top:320px;left:0px; width:160px">
      <a href="http://www.thestar.com.my/business/business-news/2017/08/07/fundraising-disrupter/" target="_blank" ><img src="/img/logo/22.TheStar.png"/></a>
      </div>

     <div id="image1"  class="Newsdropdown"  style=" top:320px;left:170px; width:160px">
      <a href="http://market.bisnis.com/read/20170806/93/678402/crypt " target="_blank" ><img src="/img/logo/5.BisnisCom.png"/></a>
      </div>

     <div id="image1"  class="Newsdropdown"  style=" top:360px;left:0px; width:160px">
      <a href="http://ekonomi.kompas.com/read/2017/08/03/133931326/meski-makin-marak-bi-sebut-mata-uang-digital-bukan-alat-pembayaran" target="_blank" ><img src="/img/logo/17.KompasCom.png"/></a>
      </div>

</div>



  <!-- End News Section -->




        </div>
        </div>
        </div>
       </div>
      </div>
    </div>
  </section>

 

<style>
.flash-button{
  background:blue;
  padding:5px 10px;
  color:#fff;
  border:none;
  border-radius:5px;
  
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
</style>

  <section class="overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container">
      <div>
        <div class="text-center">
          <p class="text-center">
            <!-- <h4>{{ antl.formatMessage('home.action.warn.2') }}</h4> -->
            <h4>{{ antl.formatMessage('home.action.select') }}</h4>              
          </p>
          {% block joinbutton %}
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/remit">{{ antl.formatMessage('home.join.paypal') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line flash-button" href="https://vxe.ae">V X E . A E</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/uk">{{ antl.formatMessage('home.join.uk') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/ar">عربى/GCC</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/cn">{{ antl.formatMessage('home.join.china') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/kr">{{ antl.formatMessage('home.join.korea') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/jp">{{ antl.formatMessage('home.join.japan') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          <br>
          <div class="text-center">
            <a class="btn btn-md btn-white-line" href="/contrib/id">{{ antl.formatMessage('home.join.id') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/th">{{ antl.formatMessage('home.join.th') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
            <a class="btn btn-md btn-white-line" href="/contrib/row">{{ antl.formatMessage('home.join.row') }}</a>
            <span class="btn-space-10 xs-hidden"></span>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <!-- End Caption Section -->


  </section>
  <!-- End Intro Section -->

  <div class="clearfix"></div>

  
  <!-- FARAD Intro Section -->
  <section id="intro" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row">
      <div class="ptb ptb-sm-80 ptb-80 mx-auto text-center">
        <img src="img/farad-symbol.png" alt="FARAD">
      </div>
      <div class="container">
        <div class="mx-auto text-center">
          <h2 class="h2 red">
            {{ antl.formatMessage('home.intro.title.1') }}<br>
            {{ antl.formatMessage('home.intro.title.2') }}
          </h2>
        </div>  
      </div>
      <div class="container">
        <div class="col-md-8 offset-md-2 text-center">
          <p class="p10">{{ antl.formatMessage('home.intro.text') }}</p>
        </div>        
      </div>
      <div class="ptb ptb-sm-80 mx-auto text-center">
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('menu.wp.link') }}">{{ antl.formatMessage('menu.docs.wp') }}</a>
        <span class="btn-space-10 float-right"></span>
        <a class="btn btn-md btn-white float-right float-none-xs" href="{{ antl.formatMessage('menu.overview.link') }}">{{ antl.formatMessage('menu.docs.overview') }}</a>
      </div>
    </div>
    </div>
  </section>
  <!-- End FARAD Intro Section -->


  <!-- Launch Section -->
  <section id="launch" class="dark-bg fadeIn ptb ptb-sm-80">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.launch.title.1') }}<br>
          {{ antl.formatMessage('home.launch.title.2') }}
        </h2>
      </div>      
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.pre.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.pre.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.vol') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.vol.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.issue.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.dist') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.dist.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.offer.pre') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.offer.pre.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.offer.swap') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.offer.swap.text') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.website') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.website.url') }}</p>
        </div>
      </div>
      <div class="row launch">
        <div class="col-md-2 offset-md-1">
          <h6>{{ antl.formatMessage('home.launch.issue') }}</h6>
        </div>
        <div class="col-md-8 offset-md-1">      
          <p>{{ antl.formatMessage('home.launch.issue.text') }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Launch Section-->

  <!--Timeline Section-->
  <section id="about" class="overlay-dark80 wow dark-bg fadeIn ptb ptb-sm-80" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.status') }}</h2>
          <div class="spacer-15"></div>
        </div>
      </div>
      <div class="row mt-80">
        <!-- Status -->
        <div class="col-md-6 mb-30">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.frd.title') }}</h2>

          <!-- FRD Updates -->
          <div class="red-bar">
            <div class="skillbar" data-percent="100%">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m1') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m1.text') }}
              </div>
              <div class="skill-bar-percent">100%</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="35%">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m2') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m2.text') }}
              </div>
              <div class="skill-bar-percent">35%</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="0">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m3') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m3.text') }}
              </div>
              <div class="skill-bar-percent">0%</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="0">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.frd.m4') }} <br> 
                {{ antl.formatMessage('home.timeline.frd.m4.text') }}
              </div>
              <div class="skill-bar-percent">0%</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>

        <!-- UCC Updates -->
        <div class="col-md-6 mb-30">
          <h2 class="h2 red">{{ antl.formatMessage('home.timeline.ucc.title') }}</h2>
          <div>
            <div class="skillbar" data-percent="100%">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m1') }} <br>
                {{ antl.formatMessage('home.timeline.ucc.m1.text') }}
              </div>
              <div class="skill-bar-percent">100%</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="10%">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m2') }} <br> 
                {{ antl.formatMessage('home.timeline.ucc.m2.text') }}
              </div>
              <div class="skill-bar-percent">10%</div>
              <div class="skillbar-bar"></div>
            </div>
            <div class="skillbar" data-percent="20%">
              <div class="skillbar-title">
                {{ antl.formatMessage('home.timeline.ucc.m3') }} <br> 
                {{ antl.formatMessage('home.timeline.ucc.m3.text') }}
              </div>
              <div class="skill-bar-percent">20%</div>
              <div class="skillbar-bar"></div>
            </div>
          </div>
        </div>
        <!-- End Status -->
      </div>
    </div>
  </section>
  <!-- End Timeline Section-->

  <!-- Team Section -->
  <section id="team" class="dark-bg ptb-60">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.team.title.1') }}<br>
          {{ antl.formatMessage('home.team.title.2') }}
        </h2>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.1.img') }}" alt="{{ antl.formatMessage('home.team.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.1.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.2.img') }}" alt="{{ antl.formatMessage('home.team.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.2.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.3.img') }}" alt="{{ antl.formatMessage('home.team.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.3.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.4.img') }}" alt="{{ antl.formatMessage('home.team.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.4.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.4.cv') }}
          </p>
        </div>
      </div>
      <!--div class="row mt-80">
        {# <div class="col-md-1"></div> #}
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.5.img') }}" alt="{{ antl.formatMessage('home.team.5.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.5.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.5.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.5.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.6.img') }}" alt="{{ antl.formatMessage('home.team.6.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.6.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.6.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.6.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.7.img') }}" alt="{{ antl.formatMessage('home.team.7.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.7.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.7.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.7.cv') }}
          </p>
        </div>
      </div-->
      <div class="row mt-80">
        <div class="col-md-4 offset-md-2 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.8.img') }}" alt="{{ antl.formatMessage('home.team.8.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.8.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.8.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.8.cv') }}
          </p>
        </div>
        <div class="col-md-4 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.team.9.img') }}" alt="{{ antl.formatMessage('home.team.9.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.team.9.name') }}</h5>
          <strong>{{ antl.formatMessage('home.team.9.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.team.9.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- Board Section -->
  <section id="board" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('home.board.title.1') }}<br>
          {{ antl.formatMessage('home.board.title.2') }}
        </h2>
      </div>
      <div class="row mt-80">
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.1.img') }}" alt="{{ antl.formatMessage('home.board.1.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.1.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.1.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.1.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.2.img') }}" alt="{{ antl.formatMessage('home.board.2.name') }}" />
          </div>
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.2.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.2.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.2.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.3.img') }}" alt="{{ antl.formatMessage('home.board.3.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.3.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.3.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.3.cv') }}
          </p>
        </div>
        <div class="col-md-3 mb-30">
          <div class="text-center">
            <img src="{{ antl.formatMessage('home.board.4.img') }}" alt="{{ antl.formatMessage('home.board.4.name') }}" />
          </div>          
          <br>
          <br>
          <h5>{{ antl.formatMessage('home.board.4.name') }}</h5>
          <strong>{{ antl.formatMessage('home.board.4.title') }}</strong>
          <div class="spacer-15"></div>
          <p>
            {{ antl.formatMessage('home.board.4.cv') }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Board Section -->







{% endblock %}
<!-- END CONTENT -->
