{% extends './contrib' %}

{% block country %}
  {{ antl.formatMessage('contrib.cn.title') }}
{% endblock %}

{% block contract_addr %}
  <p style="font-size: 0.8em;">{{ antl.formatMessage('contrib.cn.addr') }}</p>
{% endblock %}

{% block qr_code %}
  <p style="font-size: 0.8em;">{{ antl.formatMessage('contrib.cn.addr') }}</p>
  <img src="img/contract/cn_eth_addr.png"/>
{% endblock %}


