{% extends './contrib' %}

{% block country %}
  {{ antl.formatMessage('contrib.jo.title') }}
{% endblock %}

{% block contract_addr %}
  <p>{{ antl.formatMessage('contrib.jo.addr') }}</p>
{% endblock %}

{% block qr_code %}
  <p>{{ antl.formatMessage('contrib.jo.addr') }}</p>
  <img src="img/contract/jo_eth_addr.png"/>
{% endblock %}


