{% extends './contrib' %}

{% block contract_addr %}
  {{ antl.formatMessage('contrib.kr.addr') }}
{% endblock %}

{% block qr_code %}
  <p>{{ antl.formatMessage('contrib.kr.addr') }}</p>
  <img src="img/contract/kr_eth_addr.png"/>
{% endblock %}


