{% extends './contrib' %}

{% block country %}
  {{ antl.formatMessage('contrib.ksa.title') }}
{% endblock %}

{% block contract_addr %}
  <p style="font-size: 0.8em;">{{ antl.formatMessage('contrib.ksa.addr') }}</p>
{% endblock %}

{% block qr_code %}
  <p style="font-size: 0.8em;">{{ antl.formatMessage('contrib.ksa.addr') }}</p>
  <img src="img/contract/ksa_eth_addr.png"/>
{% endblock %}
