{% extends './contrib' %}

{% block country %}
  <h1 class="h1 red">{{ antl.formatMessage('contrib.row.title') }}</h1>
{% endblock %}

{% block contract_addr %}
  <p>{{ antl.formatMessage('contrib.row.addr') }}</p>
{% endblock %}

{% block qr_code %}
  <p>{{ antl.formatMessage('contrib.row.addr') }}</p>
  <img src="img/contract/row_eth_addr.png"/>
{% endblock %}


