{% extends './home' %}

<!-- CONTENT -->  
{% block content %}
  
  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
      <!-- Canvas Pattern -->
      <canvas id="pollyfill-canvas"></canvas>
      <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
      <div class="js-fullscreen-height intro-caption-top container">
        <div class="intro-content">
          <div class="intro-content-inner ptb ptb-80">
          
            <h2 class="big-title">فاراد كريبتوكن</h2>
            <br>
            <h2 class="h2 red">
              فاراد.. من نحن
            </h2>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end Intro -->

  <!-- FARAD Intro Section -->
  <section id="intro" class="ptb ptb-sm-80">
    <div class="container">
    <div class="row">
      <div class="ptb ptb-sm-80 ptb-80 mx-auto text-center">
        <img src="img/farad-symbol.png" alt="FARAD">
      </div>
      <div class="container">
        <div class="mx-auto text-center">
          <h2 class="h2 red">
          </h2>
        </div>  
      </div>
      <div class="container">
        <div class="col-md-8 offset-md-2 text-center">
          <p class="p10" style="text-align: right;">  
            .فاراد كريبتوكين هي عملة رقمية مشفرة ضمن نظام صليديتي لبلوك تشين "سلسلة الكتل" (إثريوم)
          </p>
          <p class="p10" style="text-align: right;">  
            مدير برنامج فاراد كريبتوكين ومطور البلوك تشين الخاص بها هي شركة فيرتشو فنتك المحدودة – المنطقة الحرة
          </p>
          <h5>http://virtue.finance</h5>
          <p class="p10" style="text-align: right;"> 
            .هي شركة تأسست في مدينة دبي للإنترنت، دبي، الإمارات العربية المتحدة متخصصة في تطبيقات البلوك تشين مع التركيز على الاقتصاد المالي والمعرفي
          </p>
          <p class="p10" style="text-align: right;"> 
            الإدارة التنفيذية الفنية لبرنامج فاراد كإستثمار صناعي متطور تقوم عليه شركة هونج كونج ايروسبايس بيدو للتكنولوجيا الجديدة المحدودة
          </p>
          <h5> http://aerobeidou.com</h5>
          <p class="p10" style="text-align: right;"> 
            التي تعد منشأة التصنيع التابعة لشركة غوانغكسي إيروسبايس بيدو للتكنولوجيا الجديدة ويقع مقرها في مدينة وتشو، مقاطعة غوانغكسي ، جمهورية الصين الشعبية.
          </p>
           <p class="p10" style="text-align: right;"> 
            كذلك تعد "مجموعة بيت الإمارات" هي الراعي الرسمي لبرنامج فاراد في منطقة الشرق الأوسط وشمال أفريقيا والتي يرأس مجلس إداراتها الدكتور عبدالله منقوش، العضو المستشار في مجلس إدارة برنامج فاراد العالمي.
          </p>
           <p class="p10" style="text-align: right;"> 
            يقوم على إدارة شؤون التبادل التجاري الإلكتروني شركة فاراد للتجارة الإلكترونية وهي الممثل الحصري والوحيد للتبادل التجاري الإلكتروني عالميا.
          </p>
           <p class="p10" style="text-align: right;"> 
            المبادلة التجارية أونلاين لـ فاراد - العملة الشفرة سيتم الإعلان عنها في الأسبوع الأول من شهر نوفمبر 2017 وسيتم التبادل التجاري من خلال الخدمة الإلكترونية بقيمة 0.125 سنت دولار أمريكي.
          </p>
          <h3 class="red" style="text-align: right;"> :فاراد... مهتمنا</h3>
          <p class="p10" style="text-align: right;"> 
            من المعروف أن العملة المشفرة تواجه حاليا تجاذبات مختلفة حول العالم تنحصر بين القبول والتردد والرفض، سبب التردد والرفض هو عدم ربط بعض العملات المشفرة بدعم إقتصادي وأصول تساعدها على البقاء والتطور ، لذلك سعت فاراد، وهي الأولى عالميا في ذلك، إلى ربط عملتها المشفرة بإنتاج صناعي متطور، ربطا كاملا، فوضعت رأسمالها وإستثمارها الكلي في إنتاج المكثفات فائقات التخزين، في شركة عريقة متخصصة تسمى إيروسبايس بيدو ، فتم بناء المصنع وتعيين المتخصصين المتفوقين وتأسيس خطوط الإنتاج كاملة واستمثار ما يزيد عن 1.6 مليار دولار لمنح فاراد القوة والشفافية والثقة المطلقة .
          </p>
          <p class="p10" style="text-align: center;"> فاراد.. مستقبل الإبداع، مستقبل العالم في التجارة الحرة، فاراد .. ثورة في العملات المشفرة المتطورة المدعومة صناعيا واستثماريا. 
          </p>
          <h3 class="red" style="text-align: right;"> :فاراد .. رؤيتنا </h3>
          <p class="p10" style="text-align: right;">
            أن تصبح فاراد هي عملة المستقبل بلا منازع
          </p>
          <p class="p10" style="text-align: right;"> 
            أن تحوز فاراد على ثقة جميع الإقتصاديين حول العالم وأن تستمر وتبقى في الصدارة والثقة والشفافية المطلقة في التجارة الإلكترونية والإستثمار الصناعي.
          </p>
          <p class="p10" style="text-align: right;">  
            أن تكون فاراد هي العملة المشفرة الأولى للإستثمار الصناعي المتطور في بقاع الأرض دون حدود وبلا قيود.
          </p>
          <p class="p10" style="text-align: right;">  
            المساهمة العلمية والبحثية في وضع السياسات اللازمة لتطوير وتشجيع الاستثمار في الطاقات المتجددة والتشجيع على ضخ رؤوس الأموال في استثمارات الطاقة المتجددة وعلى رأسها المكثفات فائقة التخزين.
          </p>
          <p class="p10" style="text-align: right;"> 
            الإستثمار في صناعة تخزين الطاقة ودعم كافة التوجهات التي تسعى لدفع أبحاث وأعمال الطاقة المتجددة وإنتاجها وتوليدها وتخزينها في منطقة الشرق الأوسط وشمال إفريقيا وبما يضمن تخفيف الكلفة الاستثمارية.
          </p>
          <p class="p10" style="text-align: right;"> 
            بناء علاقات متينة مع الحكومات في منطقة الشرق الأوسط وشمال أفريقيا والمساهمة العملية لتطوير الأنظمة المالية بما يتلائم مع المستقبل المتوقع للتجارة الإلكترونية الحرة .
          </p>
        </div>        
      </div>
    </div>
    </div>
  </section>
  <!-- End FARAD Intro Section -->
  

{% endblock %}