{% extends './home' %}

<!-- CONTENT -->  
{% block content %}
  
  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
      <!-- Canvas Pattern -->
      <canvas id="pollyfill-canvas"></canvas>
      <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
      <div class="js-fullscreen-height intro-caption-top container">
        <div class="intro-content">
          <div class="intro-content-inner ptb ptb-80">
          
            <h2 class="big-title">Farad Cryptoken</h2>
            <br>
            <h2 class="h2 red">
              REVOLUTIONISING THE FUTURE OF INNOVATION
            </h2>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end Intro -->

  <!-- FARAD Intro Section -->
  <section id="intro" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
    <div class="row">
      <div class="ptb ptb-sm-80 ptb-80 mx-auto text-center">
        <img src="img/farad-symbol.png" alt="FARAD">
      </div>
      <div class="container">
        <div class="mx-auto text-center">
          <h2 class="h2 red">
            Introducing<br>
            Farad Cryptoken
          </h2>
        </div>  
      </div>
      <div class="container">
        <div class="col-md-8 offset-md-2 text-center">
          <p class="p10">
            Farad Cryptoken is the first of it's kind among the cryptocurrencies that exist in the market. The main difference of Farad Cryptoken is that, it is backed by real economic activity which is the production of Ultra-capacitors within actual factory settings
          </p>
        </div>        
      </div>
      <div class="ptb ptb-sm-80 mx-auto text-center">
        <a class="btn btn-md btn-white float-right float-none-xs" href="/pub/FaradWhitepaper.pdf">Whitepaper</a>
        <span class="btn-space-10 float-right"></span>
        <a class="btn btn-md btn-white float-right float-none-xs" href="/pub/FaradOverview.pdf">Overview</a>
      </div>
    </div>
    </div>
  </section>
  <!-- End FARAD Intro Section -->
  

{% endblock %}