{% extends './home' %}

<!-- CONTENT -->  
{% block content %}
  
  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
    <!-- Canvas Pattern -->
    <canvas id="pollyfill-canvas"></canvas>
    <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
    <div class="js-fullscreen-height intro-caption-top container">
      <div class="intro-content">
      <div class="intro-content-inner">
        <h1 class="h1 red">الأسئلة الشائعة حول فاراد كريبتوكين</h1>
        <br>
        <h1 class="h1 red">(FAQ)</h1>
        <br>
      </div>
    </div>
  </section>

  <section id="faq-farad" class="ptb ptb-sm-80">
    <div class="container">
      <h2 style="text-align: right;">عن فاراد</h2>

      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هو فاراد كريبتوكن فعليا وعلميا ؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>فاراد كريبتوكين هي عملة رقمية مشفرة ضمن النظام الإيكولوجيا لبلوك تشين "سلسلة الكتل" (إثريوم).</p>
            <p>
            كل فاراد كريبتوكين ("FRD") يمثل الحق في إبرام تصنيع ووكالة مبيعات مع (شركة هونج كونج إيروسبايس بيدو للتكنولوجيا الجديدة المحدودة ) لإنتاج خلايا المكثفات الفائقة التخزين مع إنتاج 1,600,000,000 مللي فاراد على مدار 36 شهرا. وكل FRD يمثل 1 مللي فاراد.
            </p>
            <p>
              تستخدم المكثفات الفائقة التخزين لمضاعفة تخزين البطاريات مثل بطاريات أيون الليثيوم وكذلك في صناعة تخزين الطاقة مثل نظام قراءة العدادات الأوتوماتيكي (AMR)، والمرشد اللاسلكي أو الملاحي، والبطاقات الذكية، والإشارات الرمزية، والهواتف الذكية، والباور بانك، ورقاقات الراديو اللاسلكي، وأجهزة إنترنت بأنواعها، ومحول الواي فاي (الدنجل)، بالإضافة إلى أجهزة وماكينات نقاط البيع، ومشغلات الأقراص الصلبة وأنظمة الحماية ضد فقدان الطاقة، وكذلك الأدوات الكهربائية، والطائرات التي تعمل بدون طيار، وأجهزة زيادة سرعة وعزم السيارات، وموانع انقطاع التيار، والأجهزة الروبوتية وأجهزة حصاد الطاقة المختلفة.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title"  style="text-align: right;">من هم الممولين لـ فاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              مدير البرنامج و مطور البلوك تشين، شركة فيرتشو فاينتك المحدودة – المنطقة الحرة
            </p>
            <p>
              (http://virtue.finance)  
            </p>
            <p>
              وهي شركة تأسست في مدينة دبي للإنترنت، دبي، الإمارات العربية المتحدة. وهي شركة متخصصة في تطبيقات البلوك تشين مع التركيز على الاقتصاد المالي والمعرفي.
            </p>
            <p>
              أما برنامج الإداريين التنفيذيين(http://aerobeidou.com)
            </p>
            <p>
              فهي لشركة هونج كونج ايروسبايس بيدو للتكنولوجيا الجديدة المحدودة والتي تعد منشأة التصنيع التابعة لشركة غوانغكسي إيروسبايس بيدو للتكنولوجيا الجديدة ويقع مقرها في مدينة وتشو، مقاطعة غوانغكسي ، جمهورية الصين الشعبية.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هي المكثفات الفائقة وما هي استخدماتها؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              المكثفات الفائقة، المعروف أيضا باسم "سوبر- كاباسيتور" أو المكثف الكهروكيميائية، هو جهاز لتخزين الطاقة الكهربائية التي تنمو بسرعة فائقة بشكل عام.
            </p>
            <p>
              بالنسبة لتصميم وآلية عملية تشغيل المكثفات الفائقة التخزين فهو تصميم مثالي يقع شكلا بين المكثف العادي والبطارية، والذي يفتح المجال لبعض التطبيقات الشيقة والقيمة: مثل البطارية، أو المكثف الفائق أحادي الخلية الذي يتكون من قطب موجب وقطب سالب، يفصل بينها محلول كهربائي. ومع ذلك، المكثف الفائق التخزين  يُخزن الطاقة كهروستاتيكيًا، مثل المكثف العادي، وليس كيميائيًا مثل البطارية –حيث أن هناك عازل كهربائي يقسم المحلول الكهربائي، كما هو الحال مع المكثف. والفاصل الصغير بين الأقطاب الكهربائية الذي يسمح به هذا الهيكل يؤدي إلى كثافة تخزين طاقة بمعدل أعلى بكثير من المكثف العادي. على الرغم من أن المكثف الفائق التخزين يُخزن طاقة أقل من البطارية التي بنفس حجمه إلا إنه يمكنه تفريغ الطاقة بشكل أسرع بكثير، حيث أن التفريغ لا يعتمد على حدوث أي تفاعل كيميائي. ونظرًا لعدم حدوث تغيرات فيزيائية أو كيميائية عند تخزين الشحنة، يمكن استخدام المكثفات فائقة التخزين عدة مرات دون أي تدهور أوانخفاض في أداءه.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">كيف يُعتبر فاراد كريبتوكن برنامج فريد ومختلف عن كافة برامج تشفير العملات الإلكترونية الأخرى؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يعود تقييم فاراد كريبتوكن إلى التدفقات النقدية الإقتصادية الحقيقية. قد يكون نموذج التعدين المستخدم لفاراد كريبتوكين  هو الوحيد النموذج المضمون بشكل كامل، "حيث يستند" التعدين" على كمية الفاراد الفعلية المنتجة بموجب عقد إثريوم الذكي. وبذلك وبعد 3 سنوات فقط، سينتهي "التعدين" وستكون جميع المعطيات الأساسية مدعومة 100٪ بواسطة كريبتوكنز. المقصود بشكل مبسط أن يكون القسط على سند الضمان هو نفس القيمة المرفقة على الفاراد كريبتوكن باعتبارها رمز لمكثفات فاراد كريبتوكن الفائقة التخزين استنادًا إلى المنتجات والأسواق. وسيتم تسجيل كل مكثف فاراد فائق ينتجه المصنع بنظام البلوك تشين، مما سيضمن عملية تتميز بالشفافية التامة قابلة للمساءلة والتدقيق بالكامل من قبل أي شخص وفي أي وقت، وذلك باستخدام السجلات العامة لـ البلوك تشين. كما أن كل  FRD يُعرض في عملية إعادة المبادلة المضمونة سيُعرض بسعر أعلى من مؤشر العرض.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ماذا يمثل كل فاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              كل فاراد كريبتوكين ("FRD") يمثل الحقوق في إبرام عقد تصنيع ووكالة مبيعات المنتجات من خلايا المكثفات الفائقة البالغة 1.600.000.000 مللي فاراد على مدى 36 شهرا.
            </p>
            <p>
              1 فاراد = 1 مللي فاراد = 0.125 دولار أمريكي.
            </p>
           
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هي مزايا فاراد؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              أنه يمكن تفسيره كليًا من خلال البلوك تشين.
            </p>
            <p>
              أنه قابل للتدقيق كليًا.
            </p>
            <p>
              أنه يتميز بالشفافية.
            </p>            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">من هي الجهة التي تصدر الـفاراد ؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يتميز فاراد كريبتوكين بالشفافية التامة في ضوابط الإصدار، حيث قامت شركة فيرتشو فاينتك بتعيين طرفين مستقلين مؤهلين للعمل كمراجعين ومدققين للبرنامج ومدى امتثاله وتجاوبه. وبعد التقييم الكامل وقبل أول مبادلة سيتم نقل ملكية برنامج  فاراد إلى شركة مستقلة ذات أغراض متخصصة تسمى فاراد "إس بي سي". 
            </p>            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل الفاراد كريبتوكن عملة رقمية؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              نعم، سيتم استخدام فاراد كعملات رقمية لشراء أكاسيد المعادن استنادًا إلى القانون التجاري الموحد الخاص بأكسيد المعدن ومكوناتها الأساسية.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما الذي يحدد مؤشر الفاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يتم ربط المؤشر الأساسي لبرنامج فاراد بالتدفق النقدي الفعلي الناتج عن حكم شراء الطاقة المضمون بموجب عقود التصنيع ووكالة المبيعات.
            </p>
           
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل الفاراد كريبتوكن مضمون؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              بالتأكيد.  حيث يتم تأمين وتغطية كل فاراد بالإنتاج الفعلي من الميلي فاراد الذي ينتج عن خلايا المكثفات الفائقة التخزين في مصانع إيروسبايس بيدو .
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq-cryptoken" class="ptb ptb-sm-80">
    <div class="container">
      <h2 style="text-align: right;">عن فاراد</h2>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">متى سيتم أفتتاح مبادلة فاراد رسميا؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>سيتم تقسيم برنامج مبادلة الرموز إلى قسمين:
            </p>
            <p>برنامج المبادلة التمهيدية للرموز، سيتم إجراؤه على 3 دفعات على مدى فترة أقصاها 36 يوما. تبدأ الدفعة الأولى من 25 أغسطس 2017 ، 00:00 بتوقيت جرينتش حتى 15 سبتمبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثانية تبدأ من 16 سبتمبر 2017، 00:00 بتوقيت جرينتش  حتى 22 سبتمبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثالثة تبدأ من 23 سبتمبر 2017، 00:00 بتوقيت جرينتش حتى 30 سبتمبر 2017، 23:59 بتوقيت جرينتش.
            </p>
            <p> برنامج مبادلة الرموز، سيتم إجراؤه على 3 دفعات على مدى فترة أقصاها 31 يوما. تبدأ الدفعة الأولى من 1 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 7 أكتوبر 2017، 23:59 بتوقيت جرينتش. تبدأ الدفعة الثانية من 8 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 15 أكتوبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثالثة تبدأ من 16 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 31 أكتوبر 2017، 23:59 بتوقيت جرينتش.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">كيف يتم طرح فاراد للمبادلة رسميا؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>سيتم تقسيم برنامج مبادلة الرموز إلى قسمين:
            </p>
            <p>برنامج المبادلة التمهيدية للرموز، سيتم إجراؤه على 3 دفعات على مدى فترة أقصاها 36 يوما. تبدأ الدفعة الأولى من 25 أغسطس 2017 ، 00:00 بتوقيت جرينتش حتى 15 سبتمبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثانية تبدأ من 16 سبتمبر 2017، 00:00 بتوقيت جرينتش  حتى 22 سبتمبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثالثة تبدأ من 23 سبتمبر 2017، 00:00 بتوقيت جرينتش حتى 30 سبتمبر 2017، 23:59 بتوقيت جرينتش.
            </p>
            <p>برنامج مبادلة الرموز، سيتم إجراؤه على 3 دفعات على مدى فترة أقصاها 31 يوما. تبدأ الدفعة الأولى من 1 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 7 أكتوبر 2017، 23:59 بتوقيت جرينتش. تبدأ الدفعة الثانية من 8 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 15 أكتوبر 2017، 23:59 بتوقيت جرينتش. الدفعة الثالثة تبدأ من 16 أكتوبر 2017، 00:00 بتوقيت جرينتش حتى 31 أكتوبر 2017، 23:59 بتوقيت جرينتش.
            </p>
            <p>عدد الفاراد المعروضة 
            </p>
            <p>سيتم تقديم ما مجموعه 1.280.000.000  فاراد خلال برنامج مبادلة الرموز الكامل.
            </p>
            <p>اكتتاب زائد فوق إجمالي فرد على العرض
            </p>
            <p>عندما يكون مجموع 1.280.000.000 فاراد تم تبديلها بالكامل سيتم إغلاق برنامج تبادل الرمز. وإذا حدث ذلك قبل 31 أكتوبر 2017، فسيتم إقفال برنامج المقايضة الرمزية. أي مبلغ تلقى بعد ما تم إغلاق تبادل الرمز سيتم ردها (ل بيتكوين) أو رفض (الأيثر).
            </p>
            <p>إلغاء الاشتراك من فاراد على العرض
            </p>
            <p>سيتم إغلاق برنامج تبادل الرمز في 31 أكتوبر 2017 بغض النظر عما إذا كان الأشتراك غير مكتمل.

            </p>
            <p>متعددة إصدار وإدراج

            </p>
            <p>فإنه سيتم تقديم مبادلة قبل رمزية ومقايضة رمزية في 6 دفعات، وسيتم إصدار فاراد في موعد أقصاه 7 أيام من تاريخ إغلاق الدفعة الماضية.
سيتم إدراج فاراد في المبادلات في موعد لا يتجاوز 7 أيام من تاريخ إغلاق 31 أكتوبر 2017
            </p>
            <div class="container">
            </div>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">كم عدد الفاراد التي سيتم إصدارها خلال مبادلة الرموزالمميزة؟</h6>
          <div class="accordion-content" style="text-align: right;">
           <p>إجمالي الـفاراد المصدرة = 1.600.000.000
           </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">من الذي يمكنه المشاركة؟ هل المشاركة مفتوحة في جميع أنحاء العالم بما في ذلك مواطني الولايات المتحدة؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>المشاركة مفتوحة للجميع باستثناء مواطني الولايات المتحدة وسنغافورة.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل يمكنني مبادلة الفاراد نقدًا؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>يمكنك مبادلة الفاراد مع باي بال.
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">كيف يمكنني الحصول على أثيريوم من أجل المبادلة لفاراد؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>يمكن الحصول على إثيريوم محليا من:
            </p>
            <p>Bitoasis
            </p>
            <p>يمكن الحصول على إثيريوم من المبادلات العالمية مثل:
            </p>
            <p>Luno, Poloniex, Kraken, Bitfinex etc
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل سيتم تسجيل فاراد على المبادلات العالمية، إذا كانت الإجابة بنعم فأي منها؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>نعم. سيتم الإعلان عن قائمة المبادلات العالمية بعد مبادلة الرمز في 7 نوفمبر 2017.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل يحصل حملة الرموز على توزيعات أرباح؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>بالنسبة للرمز فاراد لا تدفع أرباحًا، إلا أن حملة الرموز الذين يرغبون في الحصول على الربح الدوري قد يختارون إعادة بيع الـفاراد إلى شركة فيرتشو ضمن خيار برنامج إعادة المبادلة.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هو الحد الأدنى للاشتراكات، العدد الواجب قبوله؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>الحد الأدنى للاشتراك هو 100 فاراد.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هو الحد الأقصى للاشتراكات، العدد الواجب قبوله؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>خلال مبادلة الرموز التمهيدية: ينبغي ألا يكون المجموع أكثر من 473.700 إثريوم أو ما يعادلها 44.688.9933 بيتكوين، أماخلال مبادلة الرموز: ينبغي ألا يكون المجموع أكثر من 526,300 إثريوم أو ما يعادلها 49,651.2924 بيتكوين، على ألا يتجاوز الحد الأقصى لإجمالي الرموز الخاضعة لعملية المبادلة عدد 1.000.000 إثريوم أو البيتكوين التي تعادلها.
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل سيتم حماية هويتي؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>إثريوم و بيتكوين هي أسماء مستعارة في جوهرها. لذلك، ستكون محميًا بموجب التصميم بهذه الخصوصية، إلا إذا كان من الممكن ربط العنوان بالشخص الحقيقي بالصدفة.
            </p>
          </div>
        </div>
      </div>        
    </div>
  </section>

  <hr/>


{% endblock %}
<!-- END CONTENT -->
