{% extends './home' %}

<!-- CONTENT -->  
{% block content %}
  
  <!-- Intro Section -->
  <section id="intro" class="dark-bg">

    <!-- Intro Canvas Pattern -->
    <div class="intro-media-wraper bg-image overlay-dark parallax parallax-section1" data-background-img="img/farad-bg-1.png">
    <!-- Canvas Pattern -->
    <canvas id="pollyfill-canvas"></canvas>
    <!-- End Canvas Pattern -->
    </div>
    <!-- End Intro Canvas Pattern -->

    <!-- Caption Section -->
    <div class="intro-overlay-section">
    <div class="js-fullscreen-height intro-caption-top container">
      <div class="intro-content">
      <div class="intro-content-inner">
        <h1 class="h1 red">الأسئلة الشائعة حول فاراد كريبتوكين</h1>
        <br>
        <h1 class="h1 red">(FAQ)</h1>
        <br>
      </div>
    </div>
  </section>

  <section id="faq-farad" class="ptb ptb-sm-80">
    <div class="container">
      <h2 style="text-align: right;">عن فاراد</h2>

      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هو فاراد كريبتوكن فعليا وعلميا ؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>فاراد كريبتوكين هي عملة رقمية مشفرة ضمن النظام الإيكولوجيا لبلوك تشين "سلسلة الكتل" (إثريوم).</p>
            <p>
            كل فاراد كريبتوكين ("FRD") يمثل الحق في إبرام تصنيع ووكالة مبيعات مع (شركة هونج كونج إيروسبايس بيدو للتكنولوجيا الجديدة المحدودة ) لإنتاج خلايا المكثفات الفائقة التخزين مع إنتاج 1,600,000,000 مللي فاراد على مدار 36 شهرا. وكل FRD يمثل 1 مللي فاراد.
            </p>
            <p>
              تستخدم المكثفات الفائقة التخزين لمضاعفة تخزين البطاريات مثل بطاريات أيون الليثيوم وكذلك في صناعة تخزين الطاقة مثل نظام قراءة العدادات الأوتوماتيكي (AMR)، والمرشد اللاسلكي أو الملاحي، والبطاقات الذكية، والإشارات الرمزية، والهواتف الذكية، والباور بانك، ورقاقات الراديو اللاسلكي، وأجهزة إنترنت بأنواعها، ومحول الواي فاي (الدنجل)، بالإضافة إلى أجهزة وماكينات نقاط البيع، ومشغلات الأقراص الصلبة وأنظمة الحماية ضد فقدان الطاقة، وكذلك الأدوات الكهربائية، والطائرات التي تعمل بدون طيار، وأجهزة زيادة سرعة وعزم السيارات، وموانع انقطاع التيار، والأجهزة الروبوتية وأجهزة حصاد الطاقة المختلفة.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title"  style="text-align: right;">من هم الممولين لـ فاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              مدير البرنامج و مطور البلوك تشين، شركة فيرتشو فاينتك المحدودة – المنطقة الحرة
            </p>
            <p>
              (http://virtue.finance)  
            </p>
            <p>
              وهي شركة تأسست في مدينة دبي للإنترنت، دبي، الإمارات العربية المتحدة. وهي شركة متخصصة في تطبيقات البلوك تشين مع التركيز على الاقتصاد المالي والمعرفي.
            </p>
            <p>
              أما برنامج الإداريين التنفيذيين(http://aerobeidou.com)
            </p>
            <p>
              فهي لشركة هونج كونج ايروسبايس بيدو للتكنولوجيا الجديدة المحدودة والتي تعد منشأة التصنيع التابعة لشركة غوانغكسي إيروسبايس بيدو للتكنولوجيا الجديدة ويقع مقرها في مدينة وتشو، مقاطعة غوانغكسي ، جمهورية الصين الشعبية.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هي المكثفات الفائقة وما هي استخدماتها؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              المكثفات الفائقة، المعروف أيضا باسم "سوبر- كاباسيتور" أو المكثف الكهروكيميائية، هو جهاز لتخزين الطاقة الكهربائية التي تنمو بسرعة فائقة بشكل عام.
            </p>
            <p>
              بالنسبة لتصميم وآلية عملية تشغيل المكثفات الفائقة التخزين فهو تصميم مثالي يقع شكلا بين المكثف العادي والبطارية، والذي يفتح المجال لبعض التطبيقات الشيقة والقيمة: مثل البطارية، أو المكثف الفائق أحادي الخلية الذي يتكون من قطب موجب وقطب سالب، يفصل بينها محلول كهربائي. ومع ذلك، المكثف الفائق التخزين  يُخزن الطاقة كهروستاتيكيًا، مثل المكثف العادي، وليس كيميائيًا مثل البطارية –حيث أن هناك عازل كهربائي يقسم المحلول الكهربائي، كما هو الحال مع المكثف. والفاصل الصغير بين الأقطاب الكهربائية الذي يسمح به هذا الهيكل يؤدي إلى كثافة تخزين طاقة بمعدل أعلى بكثير من المكثف العادي. على الرغم من أن المكثف الفائق التخزين يُخزن طاقة أقل من البطارية التي بنفس حجمه إلا إنه يمكنه تفريغ الطاقة بشكل أسرع بكثير، حيث أن التفريغ لا يعتمد على حدوث أي تفاعل كيميائي. ونظرًا لعدم حدوث تغيرات فيزيائية أو كيميائية عند تخزين الشحنة، يمكن استخدام المكثفات فائقة التخزين عدة مرات دون أي تدهور أوانخفاض في أداءه.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">كيف يُعتبر فاراد كريبتوكن برنامج فريد ومختلف عن كافة برامج تشفير العملات الإلكترونية الأخرى؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يعود تقييم فاراد كريبتوكن إلى التدفقات النقدية الإقتصادية الحقيقية. قد يكون نموذج التعدين المستخدم لفاراد كريبتوكين  هو الوحيد النموذج المضمون بشكل كامل، "حيث يستند" التعدين" على كمية الفاراد الفعلية المنتجة بموجب عقد إثريوم الذكي. وبذلك وبعد 3 سنوات فقط، سينتهي "التعدين" وستكون جميع المعطيات الأساسية مدعومة 100٪ بواسطة كريبتوكنز. المقصود بشكل مبسط أن يكون القسط على سند الضمان هو نفس القيمة المرفقة على الفاراد كريبتوكن باعتبارها رمز لمكثفات فاراد كريبتوكن الفائقة التخزين استنادًا إلى المنتجات والأسواق. وسيتم تسجيل كل مكثف فاراد فائق ينتجه المصنع بنظام البلوك تشين، مما سيضمن عملية تتميز بالشفافية التامة قابلة للمساءلة والتدقيق بالكامل من قبل أي شخص وفي أي وقت، وذلك باستخدام السجلات العامة لـ البلوك تشين. كما أن كل  FRD يُعرض في عملية إعادة المبادلة المضمونة سيُعرض بسعر أعلى من مؤشر العرض.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ماذا يمثل كل فاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              كل فاراد كريبتوكين ("FRD") يمثل الحقوق في إبرام عقد تصنيع ووكالة مبيعات المنتجات من خلايا المكثفات الفائقة البالغة 1.600.000.000 مللي فاراد على مدى 36 شهرا.
            </p>
            <p>
              1 فاراد = 1 مللي فاراد = 0.125 دولار أمريكي.
            </p>
           
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما هي مزايا فاراد؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              أنه يمكن تفسيره كليًا من خلال البلوك تشين.
            </p>
            <p>
              أنه قابل للتدقيق كليًا.
            </p>
            <p>
              أنه يتميز بالشفافية.
            </p>            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">من هي الجهة التي تصدر الـفاراد ؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يتميز فاراد كريبتوكين بالشفافية التامة في ضوابط الإصدار، حيث قامت شركة فيرتشو فاينتك بتعيين طرفين مستقلين مؤهلين للعمل كمراجعين ومدققين للبرنامج ومدى امتثاله وتجاوبه. وبعد التقييم الكامل وقبل أول مبادلة سيتم نقل ملكية برنامج  فاراد إلى شركة مستقلة ذات أغراض متخصصة تسمى فاراد "إس بي سي". 
            </p>            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل الفاراد كريبتوكن عملة رقمية؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              نعم، سيتم استخدام فاراد كعملات رقمية لشراء أكاسيد المعادن استنادًا إلى القانون التجاري الموحد الخاص بأكسيد المعدن ومكوناتها الأساسية.
            </p>
            
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">ما الذي يحدد مؤشر الفاراد كريبتوكن؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              يتم ربط المؤشر الأساسي لبرنامج فاراد بالتدفق النقدي الفعلي الناتج عن حكم شراء الطاقة المضمون بموجب عقود التصنيع ووكالة المبيعات.
            </p>
           
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title" style="text-align: right;">هل الفاراد كريبتوكن مضمون؟</h6>
          <div class="accordion-content" style="text-align: right;">
            <p>
              بالتأكيد.  حيث يتم تأمين وتغطية كل فاراد بالإنتاج الفعلي من الميلي فاراد الذي ينتج عن خلايا المكثفات الفائقة التخزين في مصانع إيروسبايس بيدو .
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq-cryptoken" class="ptb ptb-sm-80">
    <div class="container">
      <h2>{{ antl.formatMessage('faq.section.2') }}</h2>
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.1') }}</h6>
          <div class="accordion-content">
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.2') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.2.1') }}</p>
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.2.1.1') }}</li>
              <li>{{ antl.formatMessage('faq.item.2.2.1.2') }}</li>
            </ul>
            <p>{{ antl.formatMessage('faq.item.2.2.2') }}</p>
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.2.2.1') }}</li>
            </ul>
            <p>{{ antl.formatMessage('faq.item.2.2.3') }}</p>
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.2.3.1') }}</li>
            </ul>
              <p>{{ antl.formatMessage('faq.item.2.2.4') }}</p>
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.2.4.1') }}</li>
            </ul>
            <p>{{ antl.formatMessage('faq.item.2.2.5') }}</p>
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.2.5.1') }}</li>
              <li>{{ antl.formatMessage('faq.item.2.2.5.2') }}</li>
            </ul>

 
            <div class="container">
            </div>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.3') }}</h6>
          <div class="accordion-content">
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.3.1') }}</li>

            </ul>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.4.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.4.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.5.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.5.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.6.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.6.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.7.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.7.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.8.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.8.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.9.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.9.2') }}</p>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.10.1') }}</h6>
          <div class="accordion-content">
            <ul>
              <li>{{ antl.formatMessage('faq.item.2.10.2') }}</li>
              <li>{{ antl.formatMessage('faq.item.2.10.3') }}</li>
              <li>{{ antl.formatMessage('faq.item.2.10.4') }}</li>
            </ul>
          </div>
        </div>
      </div>  
      <div class="accordion">
        <div class="accordion-section">
          <h6 class="accordion-title">{{ antl.formatMessage('faq.item.2.11.1') }}</h6>
          <div class="accordion-content">
            <p>{{ antl.formatMessage('faq.item.2.11.2') }}</p>
          </div>
        </div>
      </div>        
    </div>
  </section>

  <hr/>


{% endblock %}
<!-- END CONTENT -->
