{% extends './contrib' %}

{% block country %}
  {{ antl.formatMessage('contrib.jo.title') }}
{% endblock %}

{% block contract_addr %}
  <p class="ether_addr">{{ antl.formatMessage('contrib.jo.addr') }}</p>
{% endblock %}

{% block qr_code %}
  <p class="ether_addr">{{ antl.formatMessage('contrib.jo.addr') }}</p>
  <img src="img/contract/jo_eth_addr.png"/>
{% endblock %}

{% block extra %}
  <!-- Announce Section -->
  <section id="board" class="dark-bg ptb-60" style="background-image: url('img/farad-mesh-2.png');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="ptb ptb-sm-80 ptb-80 text-center">
        <h2 class="h2 red">
          {{ antl.formatMessage('contrib.rep.title') }}
        </h2>
      </div>
      <div class="row mt-80">
        <div class="container">
          <div class="text-center">
            <p>{{ antl.formatMessage('contrib.rep.jo.1') }}</p>
            <p>{{ antl.formatMessage('contrib.rep.jo.2') }}</p>
          </div>
        </div>
      </div>      
    </div>
  </section> 
  <!-- End Announce Section -->
   
  <!-- Team Section -->
  <section id="team" class="dark-bg ptb-60">
    <div class="container">
      <div class="row mt-80">
        <div class="col-md-4 offset-md-4 mb-30">
          <div class="text-center">
            <img src="img/team/10-hussein.jpg" alt="Hussein Shahin" />
          </div>          
          <br>
          <br>
          <h5>Hussein Shahin</h5>
          <strong>Country Representative</strong>
          <div class="spacer-15"></div>
          <p>
            Hussein Shahin's professional career focused on the Energy industry, especially in Jordan.
          </p>
          <p>
            His past experience includes being a Sales Manager for Jesco Power System Ltd, and a General Manager for PECO Solar Ltd.
          </p>
          <p>
            He has Bachelor of Engineering from MIET - UK.
          </p>
          <p>
            Email: <a href="mailto:faradjo@farad.energy" style="color: #FACC2E;">faradjo@farad.energy</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


